@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

:root {
  --superLight: #cafafe;
  --dark: #fc4445;
  --mid: #55bcc9;
  --light: #3feee6;
  --extraLight: #97caef;
  --background: #feffff;
  --font: 'Source Sans Pro', sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
h1{
  color: var(--dark);

}
.hero {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  width: 90vw;
  margin: 40px;
  border-radius: 10px;
}
nav{
  display: flex;
  flex-direction: row;
  border: solid var(--extraLight) 3px;
  // border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  position: -webkit-sticky; 
}
ul {
  padding:30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  li{
    list-style: none;
  }  
  a{
    font-size: 150%;
    color: var(--extraLight);
    padding:20px;
      text-decoration: none;
    }
}
#webNav {
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(rgba(0, 3, 5, 0.9), rgba(0, 3, 5, 0.9)), url("../styles/keyboard.png") no-repeat fixed 50% 0px / cover;
  
}
#logo {
  margin: 5px;
  height: 110px;
}

#aboutSkills {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about{
  position: relative;
  margin:40px;
}

.aboutParagraph{
text-align: justify;
text-justify: inter-word;
font-size: 20px;
}
.splash {
height: 30vh;
}
.aboutText{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sectionImage {
  
  height: 100vh;
}

.skillsSection {
  width:90vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  background: linear-gradient(rgba(0, 3, 5, 0.9), rgba(0, 3, 5, 0.9)), url("../styles/section.png") no-repeat fixed 50% 0px / cover;
    .skillsImage {
      margin:auto;
      width: 300px;
      height: 300px;
    }  

    h1 {
      margin:auto;
      font-size: 200px;
    }
    .skillsIcons{
      margin: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin:auto;
      
    }
}

.skillBadge {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
    p{
      color: var(--mid);
    }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formInput {
  width: 25vw;
  border-radius: 5px;
}

.mainFooter {
  display: flex;
  flex-direction:row;

  .footerImage{
    width: 100px;
  }
}

.projectsMain {
  
  width: 90vw;
  margin: auto;
  .project{
    display:flex;
    flex-direction: row;
    .projectBlurb {
      display: flex;
      flex-direction: column;
    }

  }
}

